APP_NAME="Laravel"
APP_ENV=local
APP_KEY=
APP_DEBUG=false
APP_TIMEZONE=Europe/Berlin
APP_URL=http://localhost
VITE_APP_NAME="${APP_NAME}"
VITE_DEV_SERVER_URL=http://localhost:5173

# Localization
APP_LOCALE=de
APP_FALLBACK_LOCALE=de
APP_FAKER_LOCALE=de_DE

# Maintenance
APP_MAINTENANCE_DRIVER=file
APP_MAINTENANCE_STORE=database

# Development
PHP_CLI_SERVER_WORKERS=5
DEBUGBAR_ENABLED=false

# Security
BCRYPT_ROUNDS=12

# Logging
LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

# Database
DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=root
DB_PASSWORD=

# Session
SESSION_DRIVER=file
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

# Broadcasting
BROADCAST_CONNECTION=log

# Filesystem
FILESYSTEM_DISK=local

# Queue
QUEUE_CONNECTION=sync

# Cache
CACHE_STORE=file
CACHE_PREFIX=

# Memcached
MEMCACHED_HOST=127.0.0.1

# Redis
REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

# Mail
MAIL_MAILER=smtp
MAIL_HOST=mailpit
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

# AWS
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

# DigitalOcean Spaces (Custom)
SPACES_ACCESS_KEY_ID=
SPACES_SECRET_ACCESS_KEY=
SPACES_DEFAULT_REGION=fra1
SPACES_BUCKET=
SPACES_URL=
SPACES_ENDPOINT=

# Cookie Consent
COOKIE_CONSENT_SECURE=false
