@layer components {
    .occu-h-100 {
        height:100px;
    }
    .occu-h-200 {
        height:200px;
    }
    .occu-h-300 {
        height:300px;
    }
    .occu-h-350 {
        height:300px;
    }
    .occu-h-400 {
        height:400px;
    }
    .occu-h-500 {
        height:500px;
    }
    .occu-h-600 {
        height:600px;
    }
    .occu-h-700 {
        height:700px;
    }
}
